pkgbase = requin
	pkgdesc = One-dimensional semiconductor device simulator
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/TMAH1602/Requin
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	depends = gtk3
	depends = webkit2gtk-4.1
	source = requin-0.1.0.tar.gz::https://github.com/TMAH1602/Requin/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 7c64c96572c61572a5f6db72fa870197be645aa415974184deae75996bf1840e

pkgname = requin
